---
import Layout from "../layouts/Layout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import SliderTexto from "../components/SliderTexto.astro";
import AboutCard from "../components/AboutCard.astro";
import SliderItem from "../components/Slider-Item.astro";
import Carrousel from "../components/Carrousel.astro";

const ABOUT = [
  {
    title: "MISION",
    description:
      "We promote digital transformation in civil engineering through innovation in computational design and the use of emerging technologies, offering optimal and innovative solutions that contribute to excellence and quality improvement in each project.",
    url: "/mision-img.webp",
  },
  {
    title: "VISION",
    description:
      "We seek to be global leaders in computational engineering and digital innovation, contributing to the evolution of conventional engineering through developments in automation, optimization and sustainability.",
    url: "/vision-img.webp",
  },
];

const SERVICES = [
  {
    title: "BIM Development",
    description:
      "We develop digital models that allow us to optimize the planning and execution of engineering projects, improving collaboration and efficiency in all stages of the process.",
    url: "/BIM-development-img.webp",
  },
  {
    title: "Detail Engineering",
    description:
      "We carry out the detail of reinforcement of civil works to obtain sheets, measurements and plans from the generation of a BIM model that meets the appropriate engineering standards.",
    url: "/detail-engineering-img.webp",
  },
  {
    title: "AI Implementation",
    description:
      "We develop tools that implement artificial intelligence and machine learning technologies to create solutions that automate and improve efficiency in engineering processes.",
    url: "/AI-Implementation-img.webp",
  },
];

const LOGOS = [
  {
    description: "Logo de C#",
    url: "/Softwares/csharp-logo.png",
  },
  {
    description: "Logo de Java",
    url: "/Softwares/java-logo.png",
  },
  {
    description: "Logo de Trimble Connect",
    url: "/Softwares/trimbleconnect-logo.png",
  },
  {
    description: "Logo de Grasshoper",
    url: "/Softwares/grasshoper-logo.png",
  },
  {
    description: "Logo de Rhinoceros",
    url: "/Softwares/rhinoceros-logo.png",
  },
  {
    description: "Logo de Tekla",
    url: "/Softwares/tekla-logo.png",
  },
  {
    description: "Logo de MathCAD",
    url: "/Softwares/mathcad-logo.png",
  },
  {
    description: "Logo de RM Bridge",
    url: "/Softwares/rmbridge-logo.png",
  },
  {
    description: "Logo de CSI ETABS",
    url: "/Softwares/etabs-logo.png",
  },
  {
    description: "Logo de SAP2000",
    url: "/Softwares/sap2000-logo.png",
  },
  {
    description: "Logo de CSI Bridge",
    url: "/Softwares/csibridge-logo.png",
  },
];

const LOGOS2 = [
  {
    description: "Logo de Sofistik",
    url: "/Softwares/sofistik-logo.png",
  },
  {
    description: "Logo de RFEM",
    url: "/Softwares/rfem-logo.png",
  },
  {
    description: "Logo de Dynamo",
    url: "/Softwares/dynamo-logo.png",
  },
  {
    description: "Logo de Revit",
    url: "/Softwares/revit-logo.png",
  },
  {
    description: "Logo de Navis",
    url: "/Softwares/naviswork-logo.png",
  },
  {
    description: "Logo de Python",
    url: "/Softwares/python-logo.png",
  },
  {
    description: "Logo de Bentley Syncrho",
    url: "/Softwares/syncrho4d-logo.png",
  },
  {
    description: "Logo de SMath Solver y SMath Writer",
    url: "/Softwares/smathsolver-smathwriter-logo.png",
  },
];
---

<Layout
  title="Inicio | GEN+"
  description="Impulsamos la transformación digital en la ingeniería estructural mediante la innovación en diseño computacionl BIM  y optimización estructural. Automatización. Diseño Paramétrico. Diseño Generativo. IA. Machine Learning"
>
  <main>
    <section id="about" class="relative w-full h-[610px] text-center">
      <Carrousel />
    </section>

    <section class="flex w-full py-14 px-16 gap-x-12 justify-center">
      {ABOUT.map((about) => <AboutCard {...about} />)}
    </section>

    <section
      id="services"
      class="pt-4 services-container text-pretty text-center"
    >
      <h1 class="py-16 text-2xl font-bold">OUR SERVICES</h1>
      <div class="flex gap-x-1">
        <ServiceCard services={SERVICES[0]} class="bg-black-blue" />
        <ServiceCard services={SERVICES[1]} class="bg-skyblue" />
        <ServiceCard services={SERVICES[2]} class="bg-black-blue" />
      </div>
      <h2 class="text-xl font-bold pt-16 pb-7">Trainning In-House</h2>
      <p class="font-light text-base opacity-95 mx-20 text-pretty">
        We offer your team the knowledge and skills necessary to excel in BIM
        computational design and structural optimization, promoting excellence
        in project execution.
      </p>

      <div class="py-11">
        <div class="slider relative overflow-hidden flex">
          <div class="slider-track flex">
            {LOGOS.map((logo) => <SliderItem {...logo} />)}
            {LOGOS.map((logo) => <SliderItem {...logo} />)}
          </div>
        </div>
        <SliderTexto />
        <div class="slider relative overflow-hidden flex">
          <div class="slider-track flex">
            {LOGOS2.map((logos2) => <SliderItem {...logos2} />)}
            {LOGOS2.map((logos2) => <SliderItem {...logos2} />)}
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact-container pt-24 mt-5">
      <div class="flex d-flex mb-4">
        <div class="px-16 w-2/4">
          <h1 class="text-4xl font-medium py-4 pb-6 tracking-wide">
            GENERATIVE & OPTIMAL SOLUTIONS
          </h1>
          <p class="font-light text-base text-pretty">
            We collaborate with ambitious people with creative minds. Let's talk
            about your project and build something great together.
          </p>

          <p class="font-light text-base py-4">
            We are in touch <a
              href="https://mail.google.com/mail/?view=cm&to=Coordinador@genplusdesign.com"
              target="_blank"
              class="font-bold">Coordinador@genplusdesign.com</a
            >
          </p>
        </div>

        <Form />
      </div>
      <Footer />
    </section>
  </main>
</Layout>

<style>
  .contact-container {
    background-image: url("/contact-bg.webp");
    background-size: cover;
  }

  .services-container {
    background-image: url("/services-bg.webp");
    background-size: 100% auto;
  }

  /*CSS para el slider*/
  .slider .slider-track {
    animation: 30s slide infinite linear;
  }

  @keyframes slide {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }
</style>
