<footer class="py-5 pt-24 px-16">
  <div class="w-full flex row-auto justify-between">
    <div class="flex items-center">
      <a
        href="#"
        class="py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
        data-language="es"
        >ES
      </a>
      <span class="text-xl font-extralight px-2">|</span>
      <a
        href="#"
        class="py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
        data-language="en">EN</a
      >
    </div>
    <div class="text-base font-regular"></div>
    © 2024 GEN+. All Rights Reserved.
  </div>
</footer>
