<form class="w-1/2 px-16">
  <div class="mb-4">
    <label for="email" class="block mb-1 text-base font-light">Full name:</label
    >
    <input
      type="email"
      id="email"
      class="shadow-sm border text-base rounded-md block w-full px-2.5 py-[2px] border-blue-700 focus:border-blue-700 outline-0 bg-transparent"
      required
    />
  </div>
  <div class="mb-4">
    <label for="password" class="block mb-1 text-base font-light">Email:</label>
    <input
      type="password"
      id="password"
      class="shadow-sm border px-2.5 text-base rounded-md py-[2px] border-blue-700 outline-0 bg-transparent"
      required
    />
  </div>
  <div class="mb-4">
    <label for="message" class="block mb-1 text-base font-light">Message:</label
    >
    <textarea
      id="message"
      rows="3"
      class="block px-2.5 w-full text-base rounded-md border outline-0 marker: border-blue-700 bg-transparent"
    ></textarea>
  </div>

  <button
    type="submit"
    class="text-white w-full font-bold text-base bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-md px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >Send</button
  >
</form>
